build/
.dart_tool/
.idea/
.vscode/
.gradle/
android/.gradle/
android/app/build/
android/build/
ios/Pods/
ios/build/
ios/.symlinks/
macos/Pods/
macos/build/
linux/build/
windows/build/
tmp/
*.iml
*.log
.flutter-plugins
.flutter-plugins-dependencies
.packages
coverage/
test/
**/.DS_Store
**/Thumbs.db
README.md
WORKSPACE_SELECTOR.md
*.bat
structure_done.txt
test_removed.txt
query.js
